# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.envrc

# PyInstaller
*.manifest
*.spec

# VSCode settings
.vscode/
*.code-workspace

# Logs and temp files
*.log
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

wip/

# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

# latexmk
*.fdb_latexmk
*.fls

# Temporary files
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.run.xml
*.bcf